[build]
builder = "nixpacks"
buildCommand = "npm ci --no-cache && npm run build"

[deploy]
startCommand = "npm run start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[nixpacks]
providers = ["node"]
nixPkgs = ["nodejs_20"]
